#body{
     background-color:#DDDDDD;
     font-family:"Trebuchet MS";
     
 }

#top{
    background-color:#FFFFFF;
    float:left;
    
    
    width:1245px;
    
    margin:10px;
}
#signin{
    border: 1px solid #000000;
    margin:10px;
    float:left;
}
#signin h{
    border:1px solid #0000FF;
    margin:5px;
    cursor: wait;
}
#signin h:active{
    border:1px solid #FFFF00;
    
}

#signin a{
    text-decoration:none; 
}



 #mid-container div{
     background-color:#FFFFFF;
 }
 .colheads {
     padding:5px;
     background-color:#0000FF;
     
     border-radius:5px;
     color:#FFFFFF;
 }


#left-column{
    
    float:left;
            
            
    width:200px;
    
    margin:10px;
}
#left-column ul{
    list-style-type:none; 
}
#left-column ul li{
    margin:4px;
    border:1px solid #000000;
}
#left-column ul li:hover{
    border:1px solid #9999FF;
}
#left-column ul li:active{
    border:1px solid #FFFF00;
}
#left-column ul li a{
    text-decoration:none; 
    color:#000000;
}




#middle-column{
    
    float:left;
    
    
    width:800px;
    
    margin:10px;
}
#right-column{
    
    float:left;
    
    
    width:200px;
    
    margin:10px;
}

#mid-container{

    margin:auto;
    width:1220;
    float:left; 
}



#bottom{
    background-color:#FFFFFF;
    float:left;
    
    height:200px;
    width:1245px;
    
    margin:10px;
}
#bottom div ul{
    border:1px solid #000000;
}
#bottom div ul{
    list-style-type:none;
}
#bottom div ul li a{
    text-decoration:none;
}